/* Set background colour */
html {
  background-color: #525050;
}

header {
  margin: 1rem;
  background-color: #676262;
  color: #fff;
  padding: 1em;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 30px;
}

nav {
  margin: 1rem;
  min-height: 5vh;
  background-color: #676262;
  color: #fff;
  padding: 1em;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 30px;
}
