/* Set background colour */
html {
  height: 100%;
  background-color: #525050;
}

header {
  margin: 1rem;
  background-color: #1b1919;
  color: #fff;
  padding: 1em;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 30px;
}

nav {
  margin: 1rem;
  min-height: 4vh;
  background-color: #1b1919;
  color: #fff;
  padding: 1em;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 30px;
}

body {
  margin: 1rem;
  background-color: #676262;
  color: #fff;
  padding: 1em;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

section {
  margin: 1rem;
  background-color: #1b1919;
  color: #fff;
  padding: 1em;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 30px;
  flex-grow: 2;
}



footer {
  margin: 1rem;
  background-color: #1b1919;
  color: #fff;
  padding: 10px;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 30px;
  max-block-size: ;
}

div.footer-box p {
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: rgb(161, 141, 27);
}

main {
  flex-grow: 1;
}

nav a {
  animation-duration: 3s;
  animation-name: navslide;
  color: #b1a528;
  text-decoration: none;
  padding: 1em;
  font-size: 1.25em;
}

@keyframes navslide {
  from {
    margin-left: -100%;
    margin-right: -100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

div.home-image-box img {
  width: auto%;
  height: auto%;
  border-radius: 30px;
}

img#img1 {
  filter: invert();
}

img#img3 {
  opacity: 0.3;
}

h3.home-header {
  font-size: 2.5em;
  font-family: monospace;
  font-weight: bold;
  color: rgb(207, 203, 203);
}

.project-outer > * {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
}

.project-box-1 {
  width: 180px;
  height: 80px;
}

.project-box-2 {
  width: 180px;
  height: 80px;
}

.project-box-3 {
  width: 180px;
  height: 80px;
}

.project-outer section {
  background-color: #656060;
  color: #fff;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: 0.5rem;
  border-radius: 30px;
  width: 75%;
  height: 175px;
  vertical-align: top;
}

main#project-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 400px;
}

.about-text-box {
  float: left;
  width: 50%;
  height: 100%;
}

.about-image-box {
  float: left;
  width: 50%;
  height: 100%;
}

main#about-main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;
}
